:root {
    --pink-color: #f76570;
    --purple-color: #ba71da;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clear {
    clear: both;
}

html {
    font-family: poppins;
    font-size: 62.5%;
    line-height: 1.6rem;
}


/* animation */
@keyframes FadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.slider-container.pd30 {
    padding-top: 30px;
}
.pink-color {
    background-color: #f76570;
}

@keyframes sectionOpenFadeIn {
    from {
        transform: translateX(500px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;

    }
}

